body{
    font-family: proxima-nova!important;
}
.row-p {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px!important;
    margin-left: -5px!important;
}
.col-p{
	padding-right: 5px!important;
	padding-left: 5px!important;
}
.card-p {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .50rem;
}
.float-center{
	margin: 0 auto;
	display: block;
}
.bold{
    font-weight: bold;
}
.produk-nama{
    word-wrap: break-word;
    height: 3.25rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.sm{
    font-size: 80%;
    font-weight: 400;
}
.c-caption{
    position: relative!important;
    text-align: left!important;
    left: 15px!important;
    right: 15px!important;
    bottom: 0px!important;
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 25px;
}
.no-border{
    border: 0px!important;
}
.no-uline:hover{
    text-decoration: none;
}
.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}
.bb-2-gray{
    border-bottom: 2px solid #f0f0f0!important;
}
.topbar-dividers{
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}